.btn {
  background-color: var(--color-primary);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.2s ease;
}

.btn:hover {
  background-color: #148d68;
}

.btn:disabled {
  background-color: #666;
  cursor: not-allowed;
}